.DS_Store
tapl/uv.lock
/.tapl/*
!/.tapl/config.toml
/tapl/.tapl/*
!/tapl/.tapl/config.toml
tapl/.venv/
tapl/dist/
__pycache__/
.pnpm-store/
vscode-extension/node_modules/
vscode-extension/tapl-workflow-viewer-*.vsix
